@{
    ViewData["Title"] = "ExampleController Index Saydasi";
    Layout = "ExampleLayout";
}


<h1>Bu sayfa ExampleController  > Index Sayfasi .</h1>

@section header {
    <h4>Bu kodlar header`in hemen altina eklenecektir.</h4>
}
@section footer {
    <h4>Bu kodlar footer`in hemen altina eklenecektir.</h4>
}